.landing-page__background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: black;
}

.hidden-true {
    display: none;
}
