.header {
    position: absolute;
    background-color: #000;
    opacity: .8;
    top: 0;
    left: 0;
    width: 300px;
    z-index: 10;
}

.front-page-logo {
    position: absolute;
    top: 30px;
    left: 0;
    width: 200px;
    margin: 20px;
}

.front-page-pointer {
    position: absolute;
    top: 120px;
    left: 10px;
    width: 30px;
    margin: 20px;
}

.menu-item {
    font-family: 'Sarpanch', sans-serif;
    color: white;
    font-size: 18px;
    margin-left: 20px;
    font-weight: 200;
}

.menu-item-selected {
    font-weight: 900;
}

.menu-item:hover {
    font-weight: 800;
}

.landing-page {
    background-color: black;
}

.front-page-background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
}
