.menu__container {
    top: 0;
    z-index: 10;
    margin: auto;
    width: 800px;
    margin-top: 24px;

    padding-top: 40px;
    text-align: center;
}

.menu__container img {
    height: 18px;
    padding: 5px;
}

.menu__appearance-switch a {
    border: 1px solid white;
    background: black;

    margin: 5px;
    padding: 8px;
}
