.menu__container {
    top: 0;
    z-index: 10;
    margin: auto;
    width: 800px;

    padding-top: 40px;
    text-align: center;
}

.menu__container img {
    height: 13px;
    padding: 5px;
}

.menu__appearance-switch img {
    border: 1px solid white;
    margin: 5px;
    padding: 20px;
}
