@import "./../../../node_modules/react-image-gallery/styles/css/image-gallery.css";

.project-page-container {
    background-image: url("./../../images/background/sandwet.jpg");
    background-size: cover;
}

.project-info-container {
    max-width: 800px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
}

.project-info {
    margin: 0 60px 0 60px;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    color: white;
}

.project-info h1 {
    font-size: 64px;
    line-height: 2em;
    margin-bottom: 0.3em;
}

.project-info p {
    font-size: 18px;
}

.close-the-project a {
    color: white;
    text-align: right;
}

.close-the-project a p {
    margin: 0 10px 0 10px;
}
