.footer--container {
    position: absolute; 
    width: 100vw;
    bottom: 0;
}

.footer {
    /* border: 1px solid white; */
    /* background-color: black; */
    /* margin: auto; */
    width: 100vw;
    height: 100%;
    
    /* display: flex; */
    padding: 0 20px 0 20px;

    color: #ddd;
    font-size: 14px;
    line-height: 1.2em;
}

.footer a img {
    height: 18px;
    padding: 10px 10px 10px 10px;
    /* margin: 12px 0 10px 10px; */
    border: 1px solid #ddd;
    border-radius: 50%;
}
