.footer--container {
    position: absolute; 
    width: 100vw;
    bottom: 0;
}

.footer {
    width: 115px;
    height: 100%;
    
    /* display: flex; */
    padding: 0 20px 0 20px;

    color: white;
    font-size: 14px;
    line-height: 1.2em;
}

.facebook {
    height: 18px;
    margin: 0 0 10px 10px;
}

.instagram {
    height: 18px;
    margin: 0 0 10px 10px;
}

.vimeo {
    height: 30px;
    margin: -10px 0 5px 2px;
}
