.footer--container {
    position: absolute; 
    bottom: 0;
    width: 115px;
}

.footer {
    width: 115px;
    height: 100%;
    
    padding: 0 20px 0 20px;

    color: white;
    font-size: 14px;
    line-height: 1.2em;
}

.contact {
    margin-bottom: 30vh;
    cursor: pointer;
}

.facebook {
    height: 16px;
    margin: 0 10px 11px 0;
}

.instagram {
    height: 18px;
    margin: 0 0 10px 0;
}

.vimeo {
    height: 32px;
    margin: 0 0 4px 0;
}
