.front-page-logo {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 40vw;
}

.sphere {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}