@import "./../../../node_modules/react-image-gallery/styles/css/image-gallery.css";

.about-page {
    background-image: url("./../../images/background/sandwet.jpg");
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
}

.about-page__container {
    max-width: 800px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    padding-bottom: 40px;
}

.about-page__content {
    margin: 0 60px 0 60px;
    color: white;
}

.about-page__content h1 {
    font-size: 64px;
    line-height: 1.3em;
    margin-bottom: 1em;
    font-weight: 200;
    text-transform: uppercase;
}

.about-page__content p {
    font-size: 18px;
    margin-bottom: 1.8em;
}

.about-page__close a {
    color: white;
    text-align: right;
    text-decoration: none;
}

.about-page__close a p {
    margin: 0 30px 0 20px;
    font-size: 40px;
    font-weight: 400;
}

.about-page__close a p:hover {
    font-weight: 800;
}
